<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.xfunction.java.api.modules.activity.mapper.xfunction.XfuActivityLotteryMapper">
  <resultMap id="BaseResultMap" type="net.xfunction.java.api.modules.activity.model.xfunction.XfuActivityLottery">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="xfu_lottery_id" jdbcType="BIGINT" property="xfuLotteryId" />
    <result column="xfu_activity_id" jdbcType="BIGINT" property="xfuActivityId" />
    <result column="xfu_lottery_create" jdbcType="TIMESTAMP" property="xfuLotteryCreate" />
    <result column="xfu_lottery_remark" jdbcType="VARCHAR" property="xfuLotteryRemark" />
    <result column="xfu_lottery_result" jdbcType="LONGVARCHAR" property="xfuLotteryResult" />
  </resultMap>
</mapper>